{% extends "layout.html" %} 


{%block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            
            <h1 class="d-block" style="color: orange;">{{ book.title }}</h1>
            <h5 class="mb-2 text-muted d-block">by {{ book.author }}</h5>
            <div>
                <h5 class="mb-2 myBlue d-inline-block">ISBN</h5>si               
                {{ book.isbn }}
                <h5 class="mb-2 myBlue d-inline-block">Published in</h5> {{ book.year }}
            </div>
            <hr>
            <h5 class="mb-2 myBlue d-inline-block">Reviews</h5>
            {% for review in reviews %}
                <p class="text-white">{{ review.username }}</p>
                <p class="text-white"><small>review</small></p>
                <div class="p-3 mb-2 bg-light text-dark"><pre class="text-success" wrap="hard" style="text-align: left;"></pre>{{ review.review }} </div>
                <br>
            {% endfor %}
            <hr>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form action="/review" method="post">
                <input type="hidden" name="isbn" value="{{book.isbn}}" /> 
                <div class="card-border rounded" style="background: rgba(255, 127, 39, 0.3)">
                    <div class="card-body">
                        <h5 class="card-title">Write a review</h5>
                        <div class="form-group">
                            <textarea class="form-control" name="review" rows="3" type="text" required></textarea>
                        </div>
                        <div class="form-group" style="width=20px;">
                            <span>Rating</span>
                            <input type="radio" name="rating" id="radio1" type="number" value="1" required />
                            <label for="radio1">1</label>
                            <input type="radio" name="rating" id="radio2"  type="number" value="2" required/>
                            <label for="radio2">2</label>
                            <input type="radio" name="rating" id="radio3" type="number" value="3" required/>
                            <label for="radio3">3</label>
                            <input type="radio" name="rating" id="radio4" type="number" value="4" required/>
                            <label for="radio4" >4</label>
                            <input type="radio" name="rating" id="radio5" type="number" value="5" required/>
                            <label for="radio5" >5</label>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
